---
import { Icon } from "astro-icon/components";
import CardCertificate from "./common/CardCertificate.astro";
---

<section id="certificates" class="py-16 md:py-20">
  <div class="mx-auto w-full max-w-6xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-center gap-2 text-center">
      <Icon name="ph:certificate" class="h-8 w-8 sm:h-10 sm:w-10 text-slate-700 dark:text-slate-300" />
      <h1 class="py-2 text-3xl font-bold text-slate-900 sm:text-4xl md:text-5xl dark:text-slate-100">
        Certificados
      </h1>
    </div>
    <div class="mt-8 grid items-start gap-6 sm:grid-cols-2 2xl:grid-cols-4">
      <CardCertificate
        icon="devicon:laravel"
        iconPlatform="simple-icons:platzi"
        namePlatform="Platzi"
        title="Introducción a Laravel 9"
        date="03 de Junio de 2024"
        time="15 Hrs"
      />

      <CardCertificate
        icon="devicon:php"
        iconPlatform="simple-icons:platzi"
        namePlatform="Platzi"
        title="Introducción a Frameworks con PHP"
        date="15 de Abril de 2024"
        time="3 Hrs"
      />

      <CardCertificate
        icon="devicon:vuejs"
        iconPlatform="simple-icons:platzi"
        namePlatform="Platzi"
        title="Introducción y fundamentos de Vue.js"
        date="13 de Agosto de 2024"
        time="22 Hrs"
      />

      <CardCertificate
        icon="devicon:java"
        iconPlatform="simple-icons:platzi"
        namePlatform="Platzi"
        title="Introducción a Java"
        date="27 de Agosto de 2024"
        time="15 Hrs"
      />

      <CardCertificate
        icon="devicon:java"
        iconPlatform="simple-icons:platzi"
        namePlatform="Platzi"
        title="Java Se Orientado a Objetos"
        date="23 de Septiembre de 2024"
        time="16 Hrs"
      />

      <CardCertificate
        icon="devicon:mongodb"
        iconPlatform="devicon:mongodb"
        namePlatform="MongoDB"
        title="Getting Started with MongoDB"
        date="02 de Agosto de 2024"
      />

      <CardCertificate
        icon="devicon:docker"
        iconPlatform="simple-icons:platzi"
        namePlatform="Platzi"
        title="Docker: Fundamentos"
        date="06 de Mayo de 2024"
        time="14 Hrs"
      />

      <CardCertificate
        icon="icon-park:certificate"
        iconPlatform="icon-park:certificate"
        namePlatform="CertiProf"
        title="SCRUM Foundation Professional Certificate"
        date="15 de Mayo de 2024"
      />
    </div>
  </div>
</section>
