<footer class="py-16 flex flex-col justify-center items-center">
  <nav class="justify-around items-center h-fit mb-8">
    <div class="text-black text-xl md:text-2xl">
      <ul class="flex md:gap-8 gap-3 flex-col md:flex-row text-center">
        <li>
          <a
            href="#about"
            class="hover:text-gray-600 hover:underline hover:underline-offset-8 hover:decoration-2 hover:decoration-gray-00"
            >Sobre mí</a>
        </li>
        <li>
          <a
            href="#experience"
            class="hover:text-gray-600 hover:underline hover:underline-offset-8 hover:decoration-2 hover:decoration-gray-400"
            >Experiencia</a>
        </li>
        <li>
          <a
            href="#projects"
            class="hover:text-gray-600 hover:underline hover:underline-offset-8 hover:decoration-2 hover:decoration-gray-400"
            >Proyectos</a>
        </li>
        <li>
          <a
            href="#contact"
            class="hover:text-gray-600 hover:underline hover:underline-offset-8 hover:decoration-2 hover:decoration-gray-400"
            >Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
  <p class="md:text-base text-sm">
    Copyright © 2025 Andrés Felipe Mejía Restrepo.
  </p>
</footer>
