---
const itemsMenu = [
  {
    name: "Sobre mí",
    href: "#about",
  },
  {
    name: "Proyectos",
    href: "#projects",
  },
  {
    name: "Experiencia",
    href: "#experience",
  },
  {
    name: "Certificados",
    href: "#certificates",
  },
  {
    name: "Contacto",
    href: "#contact",
  },
];
---

<footer class="py-16 flex flex-col justify-center items-center">
  <nav class="justify-around items-center h-fit mb-8">
    <div class="text-black text-xl md:text-2xl">
      <ul class="flex md:gap-8 gap-3 flex-col md:flex-row text-center">
        {
          itemsMenu.map((item) => (
            <li>
              <a
                href={item.href}
                class="hover:text-gray-600 hover:underline hover:underline-offset-8 hover:decoration-2 hover:decoration-gray-400"
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
  <p class="md:text-base text-sm">
    Copyright © 2025 Andrés Felipe Mejía Restrepo.
  </p>
</footer>
