---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import profile from "../assets/perfil.webp";
import curriculum from "../assets/docs/HOJA_DE_VIDA_ANDRES_FELIPE_MEJIA_RESTREPO.pdf";
---

<section
  id="profile"
  class="flex justify-center items-center h-[82vh] md:gap-44 lg:gap-36 2xl:gap-60 gap-16 xl:flex-row flex-col"
>
  <Image
    src={profile}
    alt="Andrés Felipe Mejía Restrepo"
    class="object-cover rounded-full md:h-96 md:w-96 lg:h-72 lg:w-72 2xl:h-96 2xl:w-96 h-64 w-64"
  />
  <div class="flex-col">
    <div class="text-black text-center items-center">
      <p class="md:text-2xl text-lg font-bold text-gray-600">Hola, soy</p>
      <h1 class="font-bold md:text-5xl 2xl:text-5xl lg:text-4xl text-3xl py-4">
        Andrés Felipe Mejía
      </h1>
      <p
        class="md:text-3xl 2xl:text-3xl lg:text-2xl text-xl font-bold text-gray-600"
      >
        Desarrollador FullStack.
      </p>
      <div class="text-center m-2 gap-2 flex items-center justify-center">
        <Icon name="hugeicons:location-01" class="h-5 w-5 cursor-pointer" />
        <p
          class="md:text-xl 2xl:text-xl lg:text-lg text-base font-bold text-gray-600"
        >
          Manizales, Colombia
        </p>
      </div>
      <div class="text-center m-5">
        <button
          type="button"
          class="text-black hover:text-white border border-gray-800 hover:bg-gray-900 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-900 dark:hover:text-white dark:hover:bg-gray-600"
          onclick=`window.open('${curriculum}', '_blank')`
          >Descargar CV</button
        >
        <button
          class="text-white bg-gray-900 hover:text-white border border-gray-800 hover:bg-black font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600"
          onclick="location.href='#contact'"
          >Contacto</button
        >
      </div>
      <div class="text-center m-5 flex gap-5 justify-center">
        <Icon
          name="fa6-brands:linkedin"
          class="h-10 w-10 cursor-pointer"
          onclick={"window.open('https://www.linkedin.com/in/andresfelipemejiar', '_blank')"}
        />
        <Icon
          name="fa6-brands:github"
          class="h-10 w-10 cursor-pointer"
          onclick={"window.open('https://github.com/mejia907', '_blank')"}
        />
      </div>
    </div>
  </div>
</section>
