---
import { Icon } from "astro-icon/components";
const { image, title, mr } = Astro.props;
---

<span
  class="inline-flex items-center rounded-md bg-white px-2 py-1 text-xs font-medium text-gray-700 border border-gray-500 transition duration-200 ease-in-out hover:scale-110"
>
  <Icon name={image} class=`h-7 w-7 text-gray-600 inline-block align-middle mr-${mr}` />
  {title}
</span>
