---
import '@fontsource/poppins';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Desarrollador full-stack experto en PHP, NodeJS y React. Construyo aplicaciones web escalables y eficientes desde el front-end hasta el back-end.">
		<title>Andrés Felipe Mejía | Desarrollador FullStack</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Poppins', sans-serif;
		scroll-behavior: smooth;
	}
</style>
